menu "Example Configuration"

    config BROKER_URL
        string "Broker URL"
        default "mqtt://mqtt.eclipseprojects.io"
        help
            URL of the broker to connect to

    config BROKER_URL_FROM_STDIN
        bool
        default y if BROKER_URL = "FROM_STDIN"

    config LIGHT_ON_HOUR
        int "Light ON hour"
        default 8
        help
            Hour of day (0-23) when to turn on the light.

    config LIGHT_OFF_HOUR
        int "Light OFF hour"
        default 0
        help
            Hour of day (0-23) when to turn off the light.

endmenu
