menu "Настройки SNTP (времени)"

    choice SNTP_SERVER_COUNT
        prompt "Количество NTP серверов"
        default SNTP_SERVER_COUNT_4
        help
            Число NTP серверов для отказоустойчивости.

            Примечание: также увеличьте CONFIG_LWIP_SNTP_MAX_SERVERS (по умолч.: 1):
            menuconfig → Component config → LWIP → SNTP → Max SNTP servers

        config SNTP_SERVER_COUNT_1
            bool "1 сервер"
        config SNTP_SERVER_COUNT_2
            bool "2 сервера"
        config SNTP_SERVER_COUNT_3
            bool "3 сервера"
        config SNTP_SERVER_COUNT_4
            bool "4 сервера"
    endchoice

    config SNTP_SERVER_1
        string "Основной NTP сервер"
        default "ntp.msk-ix.ru"
        help
            Основной сервер для синхронизации времени.

    config SNTP_SERVER_2
        string "Резервный NTP сервер"
        default "ru.pool.ntp.org"
        help
            Первый резервный сервер.

    config SNTP_SERVER_3
        string "Второй резервный NTP сервер"
        default "pool.ntp.org"
        help
            Второй резервный сервер.

    config SNTP_SERVER_4
        string "Третий резервный NTP сервер"
        default "time.google.com"
        help
            Третий резервный сервер.

    config SNTP_SYNC_RETRY_COUNT
        int "Количество попыток синхронизации"
        default 30
        help
            Число попыток синхронизации SNTP перед отказом.

    config SNTP_TIMEZONE
        string "Часовой пояс (POSIX TZ string)"
        default "MSK-5"
        help
            Строка часового пояса в формате POSIX TZ.
            Примеры:
              MSK-5    — UTC+5 (Екатеринбург)
              MSK-3    — UTC+3 (Москва)
              UTC0     — UTC
              CST-8    — UTC+8 (Китай)
              EST5EDT  — Восточное время США с DST

endmenu
