menu "Настройки ESP-NOW"

    config ESPNOW_CHANNEL
        int "Wi-Fi канал ESP-NOW"
        default 10
        range 1 14
        help
            Wi-Fi канал для связи ESP-NOW.
            Должен совпадать с каналом передатчика и Wi-Fi роутера.
            ESP32 не может работать на разных каналах одновременно.

    config ESPNOW_PMK
        string "Ключ PMK"
        default "pmk12345567890123"
        help
            Ключ шифрования ESP-NOW (Primary Master Key).
            Должен совпадать с ключом передатчика. Длина — 16 байт.

endmenu
